<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Social News", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if request.env['PATH_INFO'] == "/" %>
          <li class="active"> <%= link_to "All news", root_path %> </li>
        <% else %>
          <li> <%= link_to "All news", root_path %> </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      <% if user_signed_in? %>
        <%= render 'shared/signed_in_navbar' %>
      <% else %>
        <%= render 'shared/signed_out_navbar' %>
      <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

