<div class="row">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">
      <div class="col-xs-3">
        <%= render 'shared/vote_buttons', link: link %>
      </div>

      <div class="col-xs-8">
        <%= link_to link.title, link, title: "See details" %>
      </div>

      <div class="col-xs-1">
        <%= link_to external_url(link.address), {title: "Go to linked page",
                                                 id: "actual_page_#{link.id}",
                                                 target: "_blank"} do %>
          <span class="glyphicon glyphicon-new-window"></span>
        <% end %>
      </div>
    </h4>
    Shared by: <%= link.user.email %>

    <% if link.user == current_user %>
      <%= link_to 'Edit', edit_link_path(link), id: "edit-#{link.id}" %>
      <%= link_to 'Destroy', link, method: :delete, 
        data: { confirm: 'Are you sure?' }, id: "delete-#{link.id}" %>
    <% end %>
  </li>
</div>
