<% provide(:title, "Social News - All Links") %>

<h1>All Links</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="links">
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.address, "http://#{link.address}" %></td>
        <td><%= link.description %></td>
        <td><%= link.user.email %></td>
        <td><%= link_to 'Show', link, id: "show-#{link.id}" %></td>
        <% if link.user == current_user %>
          <td><%= link_to 'Edit', edit_link_path(link), id: "edit-#{link.id}" %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-#{link.id}" %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td>
          <%= render 'shared/vote_tally', link: link %>
        </td>
        <% if user_signed_in? %>
          <td>
            <%= render 'shared/upvote_link', link: link %>
          </td>
          <td>
            <%= render 'shared/downvote_link', link: link %>
          </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Add a Link', new_link_path, id: "add_link" %>
<% end %>
