<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @link.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user_id %>
</p>

<%= link_to 'Edit', edit_link_path(@link), id: "edit_link" %> |
<%= link_to 'Delete', @link, id: "delete_link", method: :delete %> |
<%= link_to 'Back', links_path %>
