<p id="notice"><%= notice %></p>

<p>
<% if user_signed_in? %>
  <%= render "shared/upvote_link", link: @link %>
  <%= render 'shared/downvote_link', link: @link %>
<% end %>
</p>

<p>
  <strong>Link:</strong>
  <%= @link.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @link.user.email %>
</p>

<% if current_user == @link.user %>
  <%= link_to 'Edit', edit_link_path(@link), id: "edit_link" %> |
  <%= link_to 'Delete', @link, id: "delete_link", method: :delete %> |
<% end %>
<%= link_to 'Back', links_path %>
