<p id="notice"><%= notice %></p>

<p>
<%= render 'shared/vote_tally', link: @link %>

<% if user_signed_in? %>
  <%= render "shared/upvote_link", link: @link %>
  <%= render 'shared/downvote_link', link: @link %>
<% end %>
</p>

<p>
  <h2><%= @link.title %></h2>
</p>

<p>
  <%= link_to @link.address, "http://#{@link.address}" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @link.user.email %>
</p>

<div class="comments">
  <% @link.comments.all.each do |comment|%>
    <div class="comment-<%= comment.id %>">
      Comment by: <span class="author"><%= comment.user.email %></span>
      <div class="comment_body"><%= comment.comment %></div>

      <% if current_user == comment.user %>
        <%= link_to "Delete comment", [@link, comment], method: :destroy, id: "delete_comment_#{comment.id}" %>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="new_comment">
      <%= form_for [@link, @comment] do |f| %>
        <%= f.text_field :comment %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user == @link.user %>
  <%= link_to 'Edit', edit_link_path(@link), id: "edit_link" %> |
  <%= link_to 'Delete', @link, id: "delete_link", method: :delete %> |
<% end %>
<%= link_to 'Back', links_path %>
